<div class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">Thành Công</h2>
        <p>Mật khẩu đã được đổi thành công. Vui lòng sử dụng mật khẩu mới để đăng nhập.</p>
        <a asp-action="Login" class="btn-auth">Đăng nhập</a>
    </div>
</div>

<style>
    :root {
        --main-color: #8B4513;
        --text-color: #4A2C2A;
        --bg-color: #F5E8C7;
        --highlight-color: #D2B48C;
        --border-color: 0.1rem solid rgba(139, 69, 19, 0.2);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
    }

    .auth-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        background-color: #F5E8C7;
    }

    .auth-box {
        background: #D2B48C;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    .auth-title {
        margin-bottom: 1.5rem;
        color: #4B3832;
    }

    .btn-auth {
        background-color: var(--bg-color);
        color: var(--text-color);
        border: 1px solid var(--text-color);
        padding: 5px 12px;
        font-size: 0.85rem;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

        .btn-auth:hover {
            font-weight: 600;
            color: var(--text-color);
            background-color: var(--bg-color);
        }
</style>